.MyChat {
  width: 100%;
  height: 400px;
  padding: 10px 10px;
  background: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  .content {
    max-width: 300px;
    margin: 0 auto;
    height: 500px;
  }
  .home_indicator {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home_indicator span {
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background: rgb(0, 0, 0);
  }
}
